<div class="container">
  <h2>投稿編集</h2>
  <%= form_with model: @post, method: :patch do |f| %>
    <div>
      <%= f.label :name, "名称" %>
      <%= f.text_field :name, :size => "25", placeholder: '名称を入力してください' %>
    </div>
    <div>
      <%= f.label :body, "本文", class: "linear-gradient" %>
      <%= f.text_area :body, class: "form-control", :size => "25x10", placeholder: '投稿本文を入力してください' %>
    </div>
    <div>
      <%= f.attachment_field :image %>
    </div>
    <div>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, :size => "25", placeholder: '住所を入力してください' %>
    </div>
    <div>
      <%= f.label :area, "地域" %>
      <%= f.select :area, Post.areas.keys, {} %>
    </div>
    <div>
      <%= f.label :tag_name, 'タグ' %>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name %>
    </div>
    <div id="stars">
      <%= f.label :rate, '評価' %>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <div>
      <%= f.submit '変更' %>
    </div>
  <% end %>
</div>

<script>
  $('#stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[rate]', //登録するモデル名とカラム名を記述
    half: true,
  });
</script>