<div class="container">
  <h2>投稿一覧</h2>
  <p>~投稿検索~</p>
  <%= search_form_for @q, url: search_posts_path do |f| %>
    <%= f.label :name, '投稿タイトル' %><br>
    <%= f.search_field :name_cont, :size => "25", :placeholder => "名称やタイトルを入力" %>
    <%= f.label :area, 'エリア' %>
    <%= f.select :area_eq, Post.areas.map {|k,v| [k,v]}, {} %>
    <%= collection_check_boxes :q, :tags_id_eq_any, Tag.all, :id, :tag_name do |tag| %>
      <% tag.label {tag.check_box + tag.text } %>
    <% end %>
    
    <%= f.submit '検索' %>
  <% end %>
  投稿数：<em>(<%= @posts.count %>件)</em>
  <div id="map"></div>
</div>

<script>
  let map
  let geocoder
    
  function initMap(){
    geocoder = new google.maps.Geocoder()
    
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.68123620000001, lng: 139.7671248},
        zoom: 5,
    });
    
    
    <% @posts.each do |post| %>
      (function(){
        let contentString = "<a href='/posts/<%= post.id %>'><%= post.name %></a>"; 
        let infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        
        let marker = new google.maps.Marker({
            position:{lat: <%= post.latitude %>, lng: <%= post.longitude %>},
            map: map,
            title: contentString
        });
        
        marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
      })();
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>