<div class="container">
  <h2>新規投稿</h2>
  <%= render 'layouts/errors', error: @post %>
  <%= form_with model: @post do |f| %>
    <div>
      <%= f.label :name, "名称" %>
      <%= f.text_field :name, :size => "25", placeholder: '名称を入力してください' %>
    </div>
    <div>
      <%= f.label :body, "本文", class: "linear-gradient" %>
      <%= f.text_area :body, class: "form-control", :size => "25x10", placeholder: '投稿本文を入力してください' %>
    </div>
    <div>
      <%= f.attachment_field :image %>
    </div>
    <div>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, :size => "25", placeholder: '住所を入力してください' %>
      <input type="button" value="住所検索" onclick="codeAddress()">
      <div class="col-sm-3">
        <%= f.label :lat, "緯度" %>
        <%= f.text_field :lat %>
      </div>
      <div class="col-sm-3">
        <%= f.label :lng, "経度"%>
        <%= f.text_field :lng %>
      </div>
    </div>
    <div>
      <%= f.label :area, "地域" %>
      <%= f.select :area, Post.areas.keys, {} %>
    </div>
    <div>
      <%= f.label :tag_name, 'タグ' %>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name %>
    </div>
    <div id="stars">
      <%= f.label :rate, '評価' %>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <div>
      <%= f.submit '投稿' %>
    </div>
  <% end %>
</div>

<script>
  let map
  let geocoder
  let marker
  let uluru
  function initMap() {
    geocoder = new google.maps.Geocoder()
    // 数値が入っていないとマップが非表示になってしまうためnilの場合は0を入れる
   // contollerにて既存に登録している緯度と経度を変数に入れて渡す
    uluru = {lat: <%= @post.latitude || 0 %>, lng: <%= @post.longitude || 0 %>};
    // map = new google.maps.Map(document.getElementById('map'), {
    //   zoom: 16,
    //   center: uluru
    // });
    // marker = new google.maps.Marker({
    //   position: uluru,
    //   map: map,
    //   draggable: true   // ドラッグ可能にする
    // });
   // マーカーのドロップ（ドラッグ終了）時のイベント
    // google.maps.event.addListener( marker, 'dragend', function(ev){
      // イベントの引数evの、プロパティ.latLngが緯度経度。
      // document.getElementById('lat').value = ev.latLng.lat();
      // document.getElementById('lng').value = ev.latLng.lng();
    // });
  }
  function codeAddress(){
    // 入力された住所を取得
    let inputAddress = document.getElementById('post_address').value;
// geocodingしたあとmapを移動
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        uluru = results[0].geometry.location;
  　　　 // map.setCenterで地図が移動>
        // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
        // map.setCenter(uluru);
        // marker.setPosition(uluru);
        document.getElementById('post_lat').value = uluru.lat();
        document.getElementById('post_lng').value = uluru.lng();
      } else {
        alert('該当の住所が見つかりませんでした');
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

<script>
  $('#stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[rate]', //登録するモデル名とカラム名を記述
    half: true,
  });
</script>