<%= link_to @post.user.name, user_path(@post.user_id) %>

<%= @post.name %>
<%= @post.body %>
<%= @post.area %>
<%= @post.address %>
<% @post.tags.each do |tag| %>
  <span><%= tag.tag_name %></span>
<% end %>
<%= image_tag attachment_url(@post, :image, :fill, 300, 300, format: "jpg") %>
<div id = "map"></div>

<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    let place = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15, 
      center: place
      });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    let contentString = '場所：<%= @post.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

// Map上の指定した位置にピンを挿して表示する
    let marker = new google.maps.Marker({
      position:place,
      map: map,
      title: contentString
     });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>